<div class="hidden lg:flex lg:gap-x-12">
  <%- include("../atom/headerProduct"); %>
  <%- include("../atom/headerFeatures"); %>
  <%- include("../atom/headerMarketplace"); %>
  <%- include("../atom/headerCompany"); %>
</div>
