<div class="hidden lg:flex lg:gap-x-12">
  <!-- Product -->
  <%- include("../atom/headerProduct"); %>
  <!-- Features -->
  <%- include("../atom/headerFeatures"); %>
  <!-- Marketplace -->
  <%- include("../atom/headerMarketplace"); %>
  <!-- Company -->
  <%- include("../atom/headerCompany"); %>
</div>
