<div class="mt-4 sm:ml-4 sm:mt-0 sm:flex-shrink-0">
  <button
    type="submit"
    class="btn-primary flex w-full items-center justify-center rounded-md px-3 py-2 text-sm font-semibol shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
  >
    Subscribe
  </button>
</div>
